@import url('https://fonts.googleapis.com/css?family=Adamina|Arapey|Playfair+Display+SC&display=swap');

@media only screen and (min-width: 350px) {
    #top-part {
          margin: auto;
          width: 95% !important;
          padding: 10px;
          }

    #tribute-infor {
          margin: auto;
          width: 95% !important;
          padding: 10px;
          }
}
  

@media only screen and (min-width: 1040px) {
    #top-part {
          margin: auto;
          width: 60% !important;
          padding: 10px;
          }

    #tribute-infor {
          margin: auto;
          width: 60% !important;
          padding: 10px;
          }
}
body {
  position: absolute;
  background-color: #FFFFFF;
  font-family: Arapey;
  font-size: 18px;
}
a:link {
  color: #525050;  
}
a:hover {
  color: hotpink;
}
a:visited {
  color: #525050;
}

h1 {
  font-size: 300%;
  text-align: center;
  font-family: Playfair Display SC;
}

.blackline {
  background-color: black;
  padding: 3px;
}

h2 {
  margin-top: 0px;
  font-size: 27px;
  text-align: center;
  font-family: Playfair Display SC;
}

.writter {
  text-align: right;
}

h3 {
  font-size: 23px;
  font-family: Playfair Display SC;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  hight: auto;
}

 .image-caption {
  text-align: center;
  font-family: Adamina;
  font-size: 15px;
}

#top-part {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#tribute-infor {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.timeline {
  font-family: Playfair Display SC;
  font-size: 18px;
}

.quote {
  text-align: right;
  font-family: Playfair Display SC;
}
footer {
  text-align: center;
}